PORT=9999

DB_USER=root
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fileman

DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_CONN_MAX_LIFETIME=

STORAGE_BACKEND=local
LOCAL_STORAGE_ROOT=./data
S3_BUCKET=

JWT_SECRET=secret
TOKEN_EXPIRY=48h
